

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #060d14;
  border-radius: 50%;
  display: inline-block;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* Other */

h1, h2, p {
	text-align: center;
	color: white;
}

body {
	background-color: #060d14;
}


canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 500px;
}
	

img {
	width: 1100px;;
	height: 700px;
}

#demo {
	font-size: 50px;
}

.ytplayer {
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -10%);
}

.center {
	text-align: center;
}